:root{
	--text-color: white;
	--border-color: black;
	--color-main: 14%;
	--color-blue: 12%;
	--color-green: 24%;
	--background-color: hsl(0, 0%, var(--color-main));
	--background-color-light: hsl(0, 0%, calc(var(--color-main) + 7%));
	--background-color-blue: hsl(203, 100%, var(--color-blue));
	--background-color-blue-light: hsl(211, 60%, calc(var(--color-blue) + 36%));
	--background-color-green: hsl(150, 34%, var(--color-green));
	--background-color-green-light: hsl(150, 100%, calc(var(--color-green) + 7%));
	--text-color-blue-light: hsl(203, 100%. calc(var(--color-blue) + 38%));
	--link-color-light: hsl(219, 79%, calc(var(--color-blue) + 54%));
	--red-warn-color: #610d00;
	--mustard-warn-color: #8e570b;
	--blue-warn-color: #3371ff;
	--gren-warn-color: #31694d;
	--grey-text-color: #808080;
	--red-text-color-light: #ff6464;
}

::selection {
	color: var(--border-color);
	background-color: var(--background-color-blue-light);
}

html,
#content-old > div#profile,
#moderation-all > .content .moderation-item .header,
#moderation-all > .content .moderation-item .content,
.brn-qpage-next-newest-questions,
.brn-rank-list--light,
.PlaceholderAnimationBox-module__animation--37g9H{
	background-color: transparent!important;
}

.brn-placeholder__animation,
.brn-challenge-confetti__container::before,
.brn-challenge-confetti__container::after,
.brn-box--with-opacity:after,
.PlaceholderAnimationBox-module__animation--37g9H{
	background: transparent!important;
}

html#html .mint,
.brn-select-box,
.search--large--2SoJf,
#hero-search{
	background: var(--background-color)!important;
}

body{
	color: var(--text-color)!important;
}

/* .sg-breadcrumb-list *, */
select,
caption,
legend,
.black,
.sg-text,
.sg-input,
.sg-button--outline,
.sg-button--transparent,
.sg-button--solid-light,
.sg-text-bit--black,
.sg-counter--with-icon .sg-text,
.sg-headline:not(.brn-answering-streak__heading),
.linksSectionLinkText--1tWIp,
.cookieLink--3FZJ6,
.cookieText--1RjYy,
.mobile-app-store-headline--JDekV,
.mint-header-secondary,
.mint-cake-heading,
.js-main-header.brn-header *,
.task_lines .task_line .body .time,
.task_lines .task_line .descriptions,
.brn-payments-input,
.brn-answering-streak__counter .sg-headline,
.brn-qpage-next-answer-box-author__tooltip .sg-text,
.brn-qpage-next-answer-box-author__tooltip .sg-headline,
.tasksPagination div.numbers span.current,
.sg-dropdown:hover,
.sg-dropdown__items,
.sg-dropdown__item,
.brn-footer,
.brn-footer *,
.nextAvailableRank,
.brn-challenge-confetti div,
.game-box__button:active,
.game-box__button:focus,
.game-box__button:hover,
.sg-button--solid-inverted,
div.sg-toplayer h1.sg-headline,
span[style="color: #000000"],
button.sg-button--solid-light span.sg-button__text,
ul.menu-list > li > a:before,
h3.cufonable,
div#footer,
#content-old .editProfileContent .editBox legend,
#content-old ol.tasks-list .task .task-content a,
#content-old div.tasksPagination div.numbers a:hover,
#content-old ul.editProfileList > li > a > span.profileListInfo,
#moderate-functions-panel .content-scroll,
#moderate-functions-panel .covering-text .text,
#toplayer .task_lines .description,
#moderation-all .content .loader > .loadMore,
#html .mint #profile #main-left .personal_info .header .info .info_top .ranking h2 a,
#html .mint #profile #main-left .personal_info .header .info .info_top .rank h3 span,
#html .mint #profile #main-left .personal_info .header .info .info_top .points h1,
#html .mint #profile #main-left .personal_info .extra-info li span,
#html .mint #profile #main-left .personal_info .extra-info li,
#html .mint #profile h3,
#html .mint #tabs-doj #main_menu > li:hover a,
#html .mint #tabs-doj #main_menu > li:active a,
#html .mint #tabs-doj #main_menu > li:focus a,
#html .mint #tabs-doj #main_menu > li a,
#html .mint #tabs-doj #main_menu > li.active a,
#html div.user-data .user-nick,
#toplayer .contener-center.mod .moderation-toplayer .moderation-task .caption,
#toplayer .contener-center.mod .moderation-toplayer .moderation-response .caption,
#toplayer .contener-center.mod .moderation-toplayer .moderation-taskline .caption,
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason,
#moderate-task-toplayer .toplayer-body .contents .boxxy.action-box .line,
.breadcrumbs__element--3Nv98:after{
	color: var(--text-color)!important;
}

body,
select,
.sg-box--gray-secondary-ultra-light,
.sg-media--focused,
.sg-box--dark,
.sg-input:hover,
.sg-input:focus,
.sg-input:active,
.sg-input:focus:hover,
.sg-input:active:hover,
.sg-label--gray-secondary-light,
.brn-answers-per-day__container,
.brn-qpage-next-answer-box-author__tooltip,
.brn-answers-per-day__container--empty,
.brn-placeholder__shape,
.brn-flat-banner,
.brn-text-block-shade__element,
.brn-answering-streak__card--locked,
.brn-kodiak-modal,
.brn-kodiak-overlay--opaque,
.UnloggedHamburgerMenu__container--3xBWb,
.Placeholder-module__brn-text-block-shade__element--light--qxWU0,
.Placeholder-module__brn-placeholder__shape--light--1DS5h,
.PaymentsSummaryElement__titleText--1oUlZ,
.GamificationSpotlightNotification-module__blue--161hU,
.MessagesListItem__content--3XZu5.MessagesListItem__read--3Shls.sg-media--clickable,
.task_lines .task_line .descriptions,
table.brn-data-table tr.brn-data-table__row:nth-child(2n),
div[class*=NestedUserPanelBubble__content],
div[class*=UserMenuBubble__bubble],
div[class*=NotificationsListItem__clickable]:hover,
div[class*=Tooltip-module__brn-tooltip-box] .sg-bubble,
ul[class*=UserProfileContentList-module__wrapper] > li > div > div.sg-box.sg-box--light,
#container,
#content-old .editProfileContent .editBox,
#toplayer .contener-center .contener .title,
#toplayer .contener-center .contener .content,
#toplayer .contener-center .contener .footer,
#moderation-all > .content .moderation-item,
#moderation-all .top .sub-header,
#moderation-all > .content .moderation-item .content .footer,
#moderate-functions-panel .content-scroll,
#moderate-task-toplayer,
#html div.user-data .user-nick,
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason,
[class*=TextbookSolutions__paginationButton]{
	background-color: var(--background-color)!important;
}


.sg-input,
.sg-layout__container,
.sg-media--clickable,
.sg-box--light,
.sg-toplayer,
.sg-layout__container.js-main-container,
.brn-payments,
.brn-rank-container,
.brn-qpage-next-answer-box,
.brn-qpage-next-banner,
.brn-qpage-next-question-activity,
.brn-qpage-next-question-box,
.brn-moderation-panel__content,
.brn-layout-box.js-email-preferences,
.sg-box--gray-secondary-ultra-light .brn-placeholder__shape,
.sg-box--gray-secondary-ultra-light .brn-text-block-shade__element,
.topInput--cV956,
.speech-bubble--blue-light-300--272Ap,
.speech-bubble--mint-light-300--3Bzz5,
.MessagesListItem__content--3XZu5.sg-media--clickable,
.js-main-container,
.js-feed > .sg-layout > .sg-layout__container,
.js-react-aside-content > div:nth-child(2) > div,
li[class*="UserMenuList__item"]:active,
li[class*="UserMenuList__item"]:focus,
li[class*="UserMenuList__item"]:hover,
li[class*=FriendsListItem__item]:hover,
div[class*=Benefits__bgSvg]:before,
div[class*=Review-module__bubble],
div[class*=TextbookSearchHeader__wrapper],
div[class*=UserActivity__userFriends],
div[class*=NotificationsListItem]:not(div[class*=NotificationsListItem__icon]),
#content-old,
#moderation-all .content .moderation-item:hover .content,
#toplayer .contener-center.mod .moderation-toplayer .moderation-task .boxxy,
#toplayer .contener-center.mod .moderation-toplayer .moderation-response .boxxy,
#toplayer .contener-center.mod .moderation-toplayer .moderation-taskline .boxxy,
#moderate-task-toplayer .btn.extend,
#moderate-task-toplayer .toplayer-body .contents .boxxy,
#container > #content > #moderation-all,
table.brn-data-table tr.brn-data-table__row{
	background-color: var(--background-color-light)!important;
}

.sg-dropdown,
.sg-dropdown__items,
.sg-counter--with-icon,
.sg-media--clickable.sg-media--focused,
.sg-box--blue,
.sg-textarea,
.sg-dropdown:hover,
.sg-textarea:hover,
.sg-textarea:focus,
.sg-textarea:active,
.sg-textarea:focus:hover,
.sg-textarea:active:hover,
.sg-button--solid-inverted:hover:not([disabled]),
.sg-button--solid-inverted:focus:not([disabled]),
.sg-button--solid-inverted:active:not([disabled]),
.sg-button--solid-inverted:active:focus:not([disabled]),
.sg-button--solid-light:hover:not([disabled]),
.sg-button--solid-light:focus:not([disabled]),
.sg-button--solid-light:active:not([disabled]),
.sg-button--solid-light:active:focus:not([disabled]),
.sg-button--solid-blue,
.brn-navigation-item--active,
.brn-navigation-item:hover,
.brn-challenge-item__overlay,
.brn-header-placeholder,
.brn-header-placeholder__subnav,
.brn-header-placeholder__inner-wrapper,
.OfferBox__boxBlueUltraLight--3N9XR,
.brn-footer,
.brn-answering-streak__counter,
.header--1kAS3,
.header--1kAS3:before,
.section--KhXv2,
.section--9DHSr,
.section--JNOJo,
.tasksPagination div.numbers span.current,
.mint-tabs__tab, #html .mint #tabs-doj #main_menu > li,
#main-panel,
#footer,
#content-old ul.editProfileList > li > a:hover,
#content-old .editProfileContent .editProfileList > li.choosen > a,
#moderation-all .content .loader:hover,
#moderate-functions-panel .covering-text,
[class*=HeaderController]{
	background-color: var(--background-color-blue)!important;
}


.sg-media--clickable:hover,
.sg-button--solid-light,
.sg-button--solid-blue:hover,
.sg-dropdown:hover,
.sg-dropdown--white,
.sg-dropdown__item:hover,
.sg-button--solid:hover:not([disabled]),
.sg-button--solid:focus:not([disabled]),
.sg-button--solid:active:not([disabled]),
.sg-button--solid:active:focus:not([disabled]),
.sg-label--gray-secondary-light.brn-qpage-next-answer-box-user-info__ranks-list-item,
.sg-flex--justify-content-space-between .sg-button--solid,
.brn-moderation-panel .sg-button--solid,
.brn-subject-list__subject--active,
.mint-tabs__tab--active,
.section--3TnrW,
div.game-box__button:active,
div.game-box__button:focus,
div.game-box__button:hover,
button.sg-button--solid-inverted,
div[class*=ScrollablePanel__scrollable]::-webkit-scrollbar-thumb,
div.tasksPagination div.numbers a:hover,
#content-old .editProfileContent .editProfileList > li > a:hover,
#html .mint #tabs-doj #main_menu > li.active,
#moderate-functions-panel .covering-text:hover,
#moderation-all button.reset.btn,
#moderation-all .content .loader,
#moderate-task-toplayer .action-box.opened .btn{
	background-color: var(--background-color-blue-light)!important;
}

.sg-subject-icon,
.sg-icon--adaptive,
.sg-button--transparent,
.sg-button--solid-light-toggle-mustard,
.sg-button--solid-light-toggle-peach,
.sg-icon--dark:not(.sg-counter__icon),
div.brn-favorite-subjects__icon svg,
div.js-main-container > div:first-child div.sg-icon svg,
div[class*=NestedUserPanelTabs__tabs] > div > button svg,
div[class*=HeaderController__childrenWrapper] button[data-test="navigation-nested-panel-button"].sg-button svg{
	fill: var(--text-color)!important;
}

.sg-input,
.sg-button--outline,
button[class*=Carousel-module__button]{
	border-color: var(--text-color)!important;
}

div#main-panel.mint-header,
div[data-testid="navigation_header_subnav"],
#moderate-functions-panel .content-scroll,
#html .mint .mint-header,
#html .mint #flash-msg .msg{
	border-color: var(--border-color)!important;
}

/* Homepage */
.brn-answering-streak__front-element.sg-text--gray-secondary{
	color: black!important;
}

.sg-box--border-color-gray-secondary-lightest,
.brn-feed-item-wrapper{
	border-color: var(--background-color-blue)!important;
}

.brn-progress-tracking__tab--blue,
.speech-bubble--blue-light-300--272Ap,
.speech-bubble--mint-light-300--3Bzz5{
	border-color: var(--background-color-blue-light)!important;
}

.sg-button--solid{
	background-color: var(--border-color)!important;
}

li[class*=FriendsListItem__item]:hover div.sg-flex > div.sg-icon > svg.sg-icon__svg{
	fill: var(--background-color-blue-light)
}

div[class*=NestedUserPanelBubble__content]::after,
div[class*=NestedUserPanelBubble__content]::before,
div[class*=UserMenuBubble__bubble]::after,
div[class*=UserMenuBubble__bubble]::before,
div.brn-qpage-next-answer-box-author__tooltip::before,
div.brn-qpage-next-answer-box-author__tooltip::after{
	border-bottom-color: var(--background-color);
}

div.brn-qpage-next-answer-box-author__tooltip::before,
div.brn-qpage-next-answer-box-author__tooltip::after{
	border-top-color: var(--background-color);
}

div[class*=Tooltip-module__brn-tooltip-box] .sg-bubble{
	border-color: var(--background-color)!important;
}

.brn-footer .sg-dropdown__items,
.user-data .user-nick:hover,
.footerContent--QNBvF .sg-dropdown{
	border: 1px solid var(--text-color)!important;
}

/* Actions */
#content-old a,
#moderate-functions-panel .content-scroll a:hover,
#moderate-task-toplayer .btn.extend:focus,
#moderate-task-toplayer .btn.extend:hover{
	color: var(--background-color-blue-light)!important;
}

.bold.black,
#content-old > table.activities td span.reason,
#content-old > h1:nth-of-type(1),
#moderate-functions-panel .content-scroll .menu-element > ul > li *:not(h3),
#moderate-functions-panel .content-scroll .moderated *,
#moderate-task-toplayer .btn-mini{
	font-weight: normal!important;
}

.moderated .today .black,
#moderate-functions-panel .content-scroll .moderated h4,
#moderate-functions > ul > li.marked > a{
	font-weight: bold!important;
}

/* Old settings */
#content-old ul.editProfileList > li > a > span{
	color: var(--text-color);
}

#content-old div#main-right > div.beige-background{
	background-color: var(--background-color-blue);
}

/* Questions */
.brn-qpage-next-answer-box-header--verified,
.payments__box--30Jps{
	background-color: var(--background-color-green)!important;
}

.sg-label--mint-secondary-light{
	background-color: var(--background-color-green-light)!important;
}

.brn-qpage-next-answer-box-content__section img,
.brn-qpage-next-question-box-content__secondary img,
.sg-button--transparent.sg-button--icon-only .sg-icon--adaptive > img.sg-icon__svg,
.menu-element > a[data-track="brainly-enhancer-dark-theme-icon"]::before,
.alert i.icon-info-sign,
#moderation-all button.reset.btn > i,
.icon.icon-file{
	filter: invert(1);
}

.sg-text.sg-text--break-words.sg-text--white a,
.brn-qpage-next-answer-box-content__section a,
.brn-qpage-next-question-box-content__secondary a,
#html .mint .mod-profile-panel a,
#html .mint .mod-profile-panel .pseudolink,
#html .mint .mod-profile-panel .orange,
#html .mint .mod-profile-panel .onlylink,
#moderate-task-toplayer .toplayer-body .contents .boxxy .body .nick{
	color: var(--link-color-light)!important;
}

#moderate-task-toplayer .toplayer-header .heading,
#moderate-task-toplayer .toplayer-body .contents .boxxy .body .nick > a{
	color: var(--grey-text-color)!important;
}

.red,
#moderate-task-toplayer .toplayer-body .moderation-response .rank,
#moderate-task-toplayer .toplayer-body .moderation-task .rank,
#content-old table.activities td span.reason{
	color: var(--red-text-color-light)!important;
}

@media (max-width: 767px){
	.brn-feed-item-wrapper,
	.brn-mobile-bottom-border{
		border-color: var(--background-color)!important;
	}
	div[class*=NestedUserPanelTabs__header]{
		background-color: var(--background-color)!important;
	}
}

@media (min-width: 768px){
	.brn-qpage-next-answer-box-header{
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	div[class*=TextbooksBookCard-module__box]:active,
	div[class*=TextbooksBookCard-module__box]:focus,
	div[class*=TextbooksBookCard-module__box]:hover{
		background-color: var(--background-color-blue-light)!important;
	}
	a.UserActivity__tab--WB-n9{
		border-color: var(--background-color-blue)!important;
	}
	a.UserActivity__tabActive--22pRv{
		border-color: var(--text-color-blue-light)!important;
	}
}

.sg-flash__message,
#html .mint #flash-msg{
	background-color: var(--blue-warn-color)!important;
}

.sg-label--peach-primary,
.sg-flash__message--error,
.sg-button--solid-light-toggle-peach,
#html .mint #flash-msg .msg.failure,
#moderation-all > .content .moderation-item > div.content[style="background-color: rgb(238, 170, 170);"]{
	background-color: var(--red-warn-color)!important;
}

.sg-flash__message--success,
.sg-box--mint-secondary,
#html .mint #flash-msg .msg.success{
	background-color: var(--gren-warn-color)!important;
}

.alert,
.sg-flash__message--info,
.sg-label--mustard-secondary-light,
.sg-label--mustard-primary,
.sg-button--solid-light-toggle-mustard,
#html .mint #flash-msg .msg.info,
#html .mint #flash-msg .msg.warning,
#toplayer .contener-center.mod .moderation-toplayer .moderation-task.reported .boxxy.text,
#toplayer .contener-center.mod .moderation-toplayer .moderation-response.reported .boxxy.text,
#moderate-task-toplayer .btn-warning,
#moderate-task-toplayer .action-box.opened .btn.btn-warning{
	background-color: var(--mustard-warn-color)!important;
}

div.brn-challenge-icon > div:first-child{
	filter: opacity(0.5);
}

div[class*=Bubble__bubble],
div[class*=Review-module__bubble]{
	border-color: var(--background-color-green-light)!important;
}

div[class*=HeroForParents-module__illustration] > svg{
	filter: brightness(0.8);
}

a[data-testid="textbook_solutions_list_show_more_button"]{
	margin-bottom: 40px;
}

.sg-button--solid-light,
.sg-button--solid-light div.sg-icon--dark > svg{
	color: var(--text-color);
	fill: var(--text-color);	
}

.Wallpaper__wallpaper--ffCjw{
	filter: brightness(0.5);
}

table.threadList td[style*="overflow: scroll"]{
	overflow: auto!important;
}

span.level span[style="color: #00bb6a"]{
	color: #00bb6a!important;
}

span.level span[style="color: #000000"]{
	color: #fff!important;
}

span.level span[style="color: #454545"]{
	color: #888!important;
}

div.sg-textarea,
div.sg-textarea:hover,
div.sg-textarea:focus,
div.sg-textarea:active,
div.sg-textarea:focus:hover,
div.sg-textarea:active:hover{
	border: 1px solid var(--text-color);
}

.brn-chatbox__footer,
.brn-loading,
.sg-media:not(.sg-media--focused):not(.sg-media--clickable),
#moderate-functions-panel .content-scroll a:hover,
#container > #content{
	background-color: inherit!important;
}

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: var(--background-color-blue-light);
	border-radius: 14px;
}

::-webkit-scrollbar-thumb:active{
	background-color: var(--background-color-blue);
}

::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner{
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
}

.Section__sectionMint--3lnXR,
.sg-button--solid-mint{
	background-color: var(--background-color-green)!important;
}

.sg-box--mint-secondary-ultra-light,
.sg-button--solid-mint:hover:not([disabled]),
.sg-button--solid-mint:focus:not([disabled]),
.sg-button--solid-mint:active:not([disabled]),
.sg-button--solid-mint:active:focus:not([disabled]){
	background-color: var(--background-color-green-light)!important;
}

.sg-box--mint-secondary-ultra-light .sg-icon--dark,
.Benefit__bullet--2ur-m .sg-icon--dark,
.sg-subject-icon.sg-subject-icon--gray.sg-subject-icon--medium{
	fill: black!important;
}

.brn-qpage-next-question-box-actions__button-counter .sg-text{
	color: var(--background-color-blue)!important;
}

textarea.sg-textarea,
textarea.sg-textarea:hover,
textarea.sg-textarea:focus,
textarea.sg-textarea:active,
textarea.sg-textarea:focus:hover,
textarea.sg-textarea:active:hover,
.user-data .user-nick,
.user-data .user-nick .delete-button,
.user-data .user-nick .accept-button,
#moderation-all .top .sub-header,
#moderation-all button.reset.btn,
#moderate-functions-panel .covering-text,
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason{
	border: none!important;
}

#toplayer .contener-center .contener .title,
#moderation-all button.reset.btn{
	background-image: none!important;
}

.alert,
.sg-media__content,
.sg-textarea,
.brn-qpage-next-question-box-actions__button-points,
.sg-textarea::placeholder,
.sg-input::placeholder,
.moderated .today .black,
#moderate-functions > ul > li.marked > a,
#moderation-all > .content .moderation-item > div,
#moderation-all > .content .moderation-item .content .footer,
#moderation-all > .content .moderation-item .content .body,
#moderate-functions-panel .content-scroll .menu-element > ul > li *:not(h3),
#moderate-functions-panel .content-scroll .moderated *,
#moderate-functions-panel .content-scroll .moderated h4{
	color: inherit!important;
}

#moderation-all .content .moderation-item .content .footer .row .nick > span,
#toplayer .contener-center.mod .moderation-toplayer .moderation-task .nick > .stats,
#toplayer .contener-center.mod .moderation-toplayer .moderation-response .nick > .stats,
#toplayer .contener-center.mod .moderation-toplayer .moderation-taskline .nick > .stats{
	color: var(--link-color-light)!important;
}

.sg-overlay,
.modal-backdrop,
#toplayer{
	background-color: rgba(0, 0, 0, 0.9)!important;
}

div.actions.pull-right > button,
#toplayer > div.contener-center.mod > div > div.title > div > div.buttons > div{
	filter: opacity(0.7);
}

#moderation-all .loader .throbber,
#moderation-all .top .throbber{
	border-color: var(--text-color)!important;
	border-top-color: transparent!important;
	border-right-color: transparent!important;
}