:root{
	--font-size: 12px;
}

html, body{
	margin: 0;
	height: 100%;
}

body{
	min-width: unset!important;
}

.brn-qpage-next-question-activity div ~ button{
	margin-left: 10px;
}

.brn-answering-streak__card{
	max-width: unset;
}

#container{
	font-size: var(--font-size)!important;
	width: 100%;

	> #content{
		width: 100%;

		> #moderation-all{
			width: calc(100% - 70px);
			margin: auto;

			> .content{
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				flex-wrap: wrap;
				flex-direction: row;
				border-radius: 10px;

				.moderation-item{
					height: 295px!important;
					float: none!important;
					margin-right: 10px;
					border-radius: 10px;
		
					> div{
						padding: 5px!important;
					}
		
					> div.header{
						border-top-right-radius: 10px;
						border-top-left-radius: 10px;
						border-bottom: 1px solid var(--text-color);
					}
		
					> div.content{
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 10px;
		
						.footer{
							transform: translate(-5px, 0);
							border-bottom-right-radius: 10px;
							border-bottom-left-radius: 10px;
						}
					}
				}
			}
		}
	}

	> #content-old{
		width: calc(100% - 100px);
		display: block;
		margin: auto;
		float: initial;
	
		ul.editProfileList{
			> li > a > span{
				&,
				&.profileListInfo{
					font-size: var(--font-size)!important;
				}
			}
	
			span.profileListLabel{
				min-width: 250px!important;
			}
		}
	
		> div.grid_16{
			width: 80%;
	
			> *:not(script){
				display: table;
				margin: auto;
			}
		}
	
		#main-right > .beige-background{
			padding: 10px;
			border-radius: 10px;
		}
	
		> h1:nth-of-type(1){
			font-size: 16px;
		}
	
		> #profile{
			display: table;
			margin: auto;
		
			input.onlylink{
				margin-left: 0;
			}
		}
	}
}

select[name="extend-ticket-time"]{
	padding: 0 5px;
	height: auto;
	width: 100px;
	line-height: 14px;
}

/* Moderate All toplayer */
#toplayer .contener-center.mod .title .options .ticket select{
	padding: 0 0 0 5px;
	margin-left: 0;
	width: 100px;
}

/* Old profile */
#profile-mod-panel{
	display: block!important;
}

span.pseudolink.user-more-data{
	display: none!important;
}

.tasksPagination{
	margin-top: 10px!important;
	float: unset!important;
}

#html .user-data{
	width: 100%!important;
	max-width: 155px;

	.user-nick{
		width: 90%!important;
		padding: 10px 5px!important;
		margin: 5px 0;
		border-radius: 10px;

		&:hover{
			z-index: 5!important;
		}

		span{
			display: block;
			margin-top: 5px;
		}
	}
}

.brn-footer{
	padding-bottom: 24px;
}

#footer > div.container_24 > div.grid_24 > div#footer-left > ul > li{
	&,
	*{
		font-size: var(--font-size)!important;
	}
}

table.activities{
	width: 100%;
	font-size: var(--font-size)!important;
}

#moderate-functions-panel{
	.content-scroll{
		font-size: 12px;

		.menu-element,
		.moderated{
			padding: 20px 10px;
		}

		.menu-element > ul > li h3,
		.moderated h4{
			margin-top: 20px;
		}

		a{
			padding-left: 0px!important;
		}
	}
}

.sg-layout > .sg-layout__container{
	width: auto!important;
	max-width: unset!important;
	margin: 20px 10px!important;
}

div.sg-layout__aside-content{
	> div.sg-content-box > div.sg-box,
	> div.sg-flex.sg-flex--full-width.sg-flex--column > div.sg-box--padding-m.sg-box--border{
		padding-bottom: 0!important;
	}
}

div.js-react-aside-content{
	> div.sg-flex.sg-flex--full-width.sg-flex--column > div.sg-box--padding-m.sg-box--border,
	> div.sg-content-box.sg-content-box--spaced-bottom-large > div.sg-box.sg-box--gray-secondary-ultra-light.sg-box--padding-m{
		padding-bottom: 0!important;
	}
}

.moderation-comment,
.boxxy.text,
.js-react-aside-content > div:nth-child(2) > div,
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason{
	border-radius: 10px;
}

.brn-layout-box{
	margin-bottom: 0!important;
	border: none!important;
}

.brn-messages__tip{
	margin-top: 0;
}

@media (min-width: 1024px){
	.brn-qpage-layout{
		grid-template-columns: 66% 32%!important;
	}
	.js-page-wrapper > .sg-layout > .sg-layout__container{
		padding: 0;
	}
	.brn-qpage-layout{
		margin: 16px 20px 40px!important;
		display: grid!important;
	}
}
