<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brainly Enhancer</title>
	<link href="style.css" rel="stylesheet">
	<script src="../../scripts/ContentScript.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div id="main">
		<header>
			<h1></h1>
		</header>
		<article>
			<section>
				<fieldset>
					<legend>Opções</legend>
					<div id="options">
						<label>
							<span class="be-input">
								<input class="be-input-transparent" type="checkbox" name="darkTheme">
							</span>
							<p>Tema escuro</p>
							<p>Deixa o Brainly com um fundo mais escuro (Beta)</p>
						</label>
						<label>
							<span class="be-input">
								<input class="be-input-transparent" type="checkbox" name="expandLayout">
							</span>
							<p>Expandir layout</p>
							<p>Deixa a página e seu conteúdo maior</p>
						</label>
					</div>
				</fieldset>
			</section>
		</article>
	</div>
</body>
</html>