#MassDeleteUsersPanel{
	width: 215px;
	min-height: 177px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

#MassDeleteOptions{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: baseline;
	position: relative;

	> input[name=MassDeleteOption]{
		height: 0;
		width: 0;

		&::before{
			content: "";
			background-color: #c8c8c8;
			height: 14px;
			width: 14px;
			position: absolute;
			top: 6px;
			border-radius: 50%;
		}

		&:checked::before{
			background-color: rgb(49, 120, 196);
		}

		~ label{
			line-height: 1.5rem;
			font-size: 1rem;
			user-select: none;
			cursor: pointer;
			margin: 0 10px 0 20px;
		}
	}
}

#MassDeleteTextarea{
	box-sizing: border-box;
	width: 350px;
	min-height: 205px;
	max-height: 300px;

	&:focus::placeholder{
		visibility: hidden;
	}
}

html.dark{
	#MassDeleteTextarea{
		border: none;
	}
}
