:root{
	--font-size: 12px;
}

html, body{
	margin: 0;
	height: 100%;
}

body{
	min-width: unset;
}

/* Homepage */
.brn-qpage-next-question-activity div ~ button{
	margin-left: 10px;
}

.brn-answering-streak__card{
	max-width: unset;
}

/* Questions toplayer */
#moderate-functions-panel .content-scroll a{
	padding-left: 0px!important;
}

/* Moderate All */
#container > #content{
	width: 100%;
}

#container > #content > #moderation-all{
	width: calc(100% - 70px);
	margin: auto;
}

select[name="extend-ticket-time"]{
	padding: 0 5px;
	height: auto;
	width: 100px;
	line-height: 14px;
}

#moderation-all > .content .moderation-item .content .footer{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#moderation-all > .content{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

#moderation-all > .content .moderation-item{
	height: 297px!important;
	float: none!important;
	margin-right: 10px;
}

#moderation-all > .content .moderation-item > div{
	padding: 5px!important;
}

#moderation-all > .content .moderation-item > div.header{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid var(--text-color);
}

#moderation-all > .content .moderation-item > div.content{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#moderation-all > .content .moderation-item > div.content .footer{
	transform: translate(-5px, 0);
}

/* Moderate All toplayer */
#toplayer .contener-center.mod .title .options .ticket select{
	padding: 0 0 0 5px;
	margin-left: 0;
	width: 100px;
}

/* Old profile */
#profile-mod-panel{
	display: block!important;
}

span.pseudolink.user-more-data{
	display: none!important;
}

.tasksPagination{
	margin-top: 10px!important;
	float: unset!important;
}

.user-data .user-nick{
	width: 90%!important;
	padding: 10px 5px!important;
	margin: 5px 0;
}

.user-data .user-nick:hover{
	z-index: 5!important;
}

.user-data .user-nick span{
	display: block;
	margin-top: 5px;
}

.brn-footer{
	padding-bottom: 24px;
}

#html div.user-data{
	width: 100%!important;
	max-width: 155px;
}

#container,
table.activities{
	width: 100%;
}

#content-old{
	display: block;
	margin: auto;
	float: initial;
}

#content-old{
	width: calc(100% - 100px);
}

#content-old ul.editProfileList span.profileListLabel{
	min-width: 250px!important;
}

#content-old > div.grid_16{
	width: 80%;
}

#content-old > div.grid_16 > *:not(script){
	display: table;
	margin: auto;
}

#content-old div#main-right > div.beige-background{
	padding: 10px;
}

#content-old > h1:nth-of-type(1){
	font-size: 16px;
}

div#footer > div.container_24 > div.grid_24 > div#footer-left > ul > li,
div#footer > div.container_24 > div.grid_24 > div#footer-left > ul > li *,
div#container,
table.activities,
#content-old ul.editProfileList > li > a > span.profileListInfo,
#content-old ul.editProfileList > li > a > span{
	font-size: var(--font-size)!important;
}

div#container > #content-old > div#profile{
	display: table;
	margin: auto;
}

div#container > #content-old > div#profile input.onlylink{
	margin-left: 0;
}

#moderate-functions-panel .content-scroll{
	font-size: 12px;
}

#moderate-functions-panel .content-scroll .menu-element,
#moderate-functions-panel .content-scroll .moderated{
	padding: 20px 10px;
}

#moderate-functions-panel .content-scroll .menu-element > ul > li h3,
#moderate-functions-panel .content-scroll .moderated h4{
	margin-top: 20px;
}

.sg-layout > .sg-layout__container{
	width: auto!important;
	max-width: unset!important;
	margin: 20px 10px!important;
}

div.sg-layout__aside-content > div.sg-content-box > div.sg-box,
div.sg-layout__aside-content > div.sg-flex.sg-flex--full-width.sg-flex--column > div.sg-box--padding-m.sg-box--border,
div.js-react-aside-content > div.sg-flex.sg-flex--full-width.sg-flex--column > div.sg-box--padding-m.sg-box--border,
div.js-react-aside-content > div.sg-content-box.sg-content-box--spaced-bottom-large > div.sg-box.sg-box--gray-secondary-ultra-light.sg-box--padding-m{
	padding-bottom: 0!important;
}

.moderation-comment,
.boxxy.text,
.user-data .user-nick,
.js-react-aside-content > div:nth-child(2) > div,
#content-old div#main-right > div.beige-background,
#moderation-all > .content .moderation-item,
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason{
	border-radius: 10px;
}

.brn-layout-box{
	margin-bottom: 0!important;
	border: none!important;
}

.brn-messages__tip{
	margin-top: 0;
}

@media (min-width: 1024px){
	.brn-qpage-layout{
		grid-template-columns: 66% 32%!important;
	}
	.js-page-wrapper > .sg-layout > .sg-layout__container{
		max-width: unset!important;
		padding: 0!important;
		margin: 0!important;
	}
}

@media (min-width: 768px){
	.js-page-wrapper > .sg-layout > .sg-layout__container{
		max-width: unset!important;
		margin: 0!important;
	}
}

.brn-qpage-layout{
	margin: 16px 20px 40px!important;
	display: grid!important;
}
