table > tbody > tr{
	display: table-row;
	width: 100%;
}

table > tbody > tr > td:nth-child(2) > div:first-child{
	display: initial;
}

table > tbody > tr > td:nth-child(2) > div:first-child > label,
table > tbody > tr > td:nth-child(2) > div:first-child > label > input[type="checkbox"]{
	display: inherit;
}

table > tbody > tr.question.reported{
	background-color: purple;
}

table > tbody > tr.question.deleted{
	background-color: red;
}
